/nitrify-discord-bot/node_modules
/nitrify-discord-bot/package-lock.json
/nitrify-discord-bot/service-account-file.json

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/nitrify-discord-web/node_modules
/nitrify-discord-web/.pnp
/nitrify-discord-web/.pnp.js
/nitrify-discord-web/package-lock.json

# testing
/nitrify-discord-web/coverage

# production
/nitrify-discord-web/build
/nitrify-discord-web/src/initFirebase.js